.font-mircroft-black-ex-large {
    font-family: "Helvetica Neue",
        Helvetica,
        "PingFang SC",
        "Hiragino Sans GB",
        "Microsoft YaHei",
        "微软雅黑",
        Arial,
        sans-serif;
    color: RGB(64, 158, 255);
    font-size: 20px;
}